{% if page.previous or page.next %}
  {% assign reverse_pagination = false %}
  {% if page.categories contains "Rust C 언어" %}
    {% assign reverse_pagination = true %}
  {% endif %}

  <nav class="pagination">
    {% if reverse_pagination %}
      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html | escape }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
      {% else %}
        <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
      {% endif %}

      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html | escape }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
      {% else %}
        <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
      {% endif %}

    {% else %}
      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html | escape }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
      {% else %}
        <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
      {% endif %}

      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html | escape }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
      {% else %}
        <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
      {% endif %}
    {% endif %}
  </nav>
{% endif %}
